<% if @tweets.present? %>
  <ul>
    <h2><b>Tweets for sightseeing</b></h2>
    <% @tweets.each_with_index do |tweet, i| %>
    <div class="list">
      <li>Tweet<%= i %>:</br> <%= tweet.contents %> </li>
    </div>
    <% end %>
  </ul>
<% else %>
  <p>Once you put prefecture above, </br>the tweets will be shown here.</p>
<% end %>
